
HELP.md


.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat


logs/
*.log


*.class
*.jar
*.war
*.ear


.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/


.idea/
*.iws
*.iml
*.ipr
out/


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.vscode/


.DS_Store
Thumbs.db


.env
.env.*
*.env


src/main/resources/application.properties

